---
- include_vars: ../../common_vars.yml

- name: Create user ubuntu and disable password
  become: yes
  shell: 'adduser ubuntu --disabled-password --gecos "" ;
          passwd -d ubuntu'

- name: creating directories
  file: path={{item}} state=directory
  with_items: 
    - "{{configs_dir}}"
    - "{{staging_dir}}"
    - "{{executables_dir}}"
    - "{{unix_pipes_dir}}"
    - "{{es_dir}}"
    - "{{scripts_dir}}"
    - "{{init_dir}}"
    - "{{ui_dir}}"

#playbook_dir is ansible defined variable which stores top level ansible-playbook directory
- name: Copy folders to the /home/ubuntu/snowplow
  become: yes
  block: 
    - synchronize:
        src: "{{playbook_dir}}/resources/elasticsearch"
        dest: "{{main_dir}}"
        recursive: yes
    
    - synchronize:
        src: "{{playbook_dir}}/resources/configs"
        dest: "{{main_dir}}"
        recursive: yes

    - synchronize:
        src: "{{playbook_dir}}/resources/init"
        dest: "{{main_dir}}"
        recursive: yes

- name: set pipe directories
  set_fact:
      raw_events_pipe={{unix_pipes_dir}}/raw-events-pipe
      enriched_pipe={{unix_pipes_dir}}/enriched-events-pipe
      bad_1_pipe={{unix_pipes_dir}}/bad-1-pipe

- name: create pipes
  shell: mkfifo {{item}}
  with_items:
      - "{{raw_events_pipe}}"
      - "{{enriched_pipe}}"
      - "{{bad_1_pipe}}"
