---
- include_vars: ../../common_vars.yml

- name: Set variables
  set_fact:
    control_plane_dir: '{{playbook_dir}}/resources/control-plane'
    go_bin: '/usr/local/go/bin'
    go_path: "{{ lookup('env', 'HOME') }}/go"

- name: Copy Control Plane API to executables dir
  become: yes
  synchronize:
    src: "{{control_plane_dir}}/snowplow-mini-control-plane-api"
    dest: "{{executables_dir}}"

- name: Copy VERSION file to /home/ubuntu/snowplow for Control API
  become: yes
  synchronize:
     src: "{{playbook_dir}}/../VERSION"
     dest: "{{main_dir}}"

- name: Install Caddy
  become: yes
  shell: |
    apt install -y debian-keyring debian-archive-keyring apt-transport-https
    curl -1sLf 'https://dl.cloudsmith.io/public/caddy/stable/gpg.key' | sudo tee /etc/apt/trusted.gpg.d/caddy-stable.asc
    curl -1sLf 'https://dl.cloudsmith.io/public/caddy/stable/debian.deb.txt' | sudo tee /etc/apt/sources.list.d/caddy-stable.list
    apt update
    apt-get install -y caddy=2.4.6

- name: Replace default Caddyfile & restart Caddy
  become: yes
  shell: |
    rm /etc/caddy/Caddyfile
    cp {{configs_dir}}/Caddyfile /etc/caddy/Caddyfile
    systemctl reload caddy

- name: Set owner of the main directory
  become: yes
  args:
    warn: false
  shell: "chown -R ubuntu:ubuntu {{main_dir}} && chmod 755 -R {{main_dir}}"
