localhost:2000 {
#example.com {
        #tls example@example.com
        tls off
        proxy / localhost:3000
        proxy /collector localhost:8080 {
            without /collector
        }
        proxy /kibana localhost:5601 {
            without /kibana
        }
        proxy /igluserver localhost:8081 {
            without /igluserver
        }
        proxy /api localhost:8081 
        proxy /elasticsearch localhost:9200 {
            without /elasticsearch
        }
        proxy /controlplane localhost:10000 {
            without /controlplane
        }
}


localhost:5000 {
        root /home/ubuntu/snowplow/caddy-root
}
