/* Common */
a,p,h1,h2,h3,h4,li {
  -webkit-font-smoothing: antialiased;
  font-family: "myriad-pro", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

h1,h2,h3 {
  letter-spacing: -1px;
}

a,p,h4 {
  letter-spacing: 0px;
}

body {
  margin: 0px;
}

/* Header */
.header { 
  background-color: #3F435F;
  height: 80px;
  width: 100%;
}

.header #logo {
  height: 60px;
  width: auto;
  padding: 10px;
  float: left;
}

.header #text {
  color: white;
  text-transform: uppercase;
  float: left;
}

/* Footer */
.footer {
  height: 40px;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  float: left;
}

.footer p {
  font-size: 12px;
  text-align: center;
  margin: 0;
  line-height: 40px;
  border-top: 1px solid #ddd;
}

/* Application */
.snowplowminiapp {
  float: left;
  width: 100%;
  height: 100%;
}

/* Main Content */
.main-content {
  width: 100%;
  height: 100%;
  float: left;
  margin-top: -2px;
}

/* Tabs */
.tabs {
  width: 100%;
  float: left;
}

.tabs-navigation {
  padding: 0 20px;
  max-height: 50px;
  border-bottom: 1px solid #ddd;
}

.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  float: left;
}

.tabs-menu-item a {
  display: block;
  padding: 0 40px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  border-top: 0;
  border-bottom: 0;
  color: #a9a9a9;
}

.tabs-menu-item:hover {
  cursor: pointer;
}

.tabs-menu-item:not(.is-active) a:hover {
  color: #3498db;
}

.tabs-menu-item.is-active a {
  background: #ececec;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
  color: #333;
}

.tabs-panel {
  display: none;
  padding: 30px;
}

.tabs-panel.is-active {
  display: block;
}

/* Tab Content */
.tab-content {
  padding-left: 20px;
}

.tab-content img {
  max-width: 750px;
}
