---
- name: Download Packer
  become: yes
  args:
    warn: false
  shell: curl -o {{ packer_install_dir }}/{{ packer_archive }}.zip {{ packer_url }}

- name: Extract Packer
  become: yes
  unarchive: copy=no src={{ packer_install_dir }}/{{ packer_archive }}.zip dest={{ packer_install_dir }}

- name: Remove downloaded packer_archive
  become: yes
  args:
    warn: false
  shell: "rm -f {{ packer_install_dir }}/{{ packer_archive }}.zip"
