version: "3"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.8.20
    container_name: elasticsearch
    restart: always
    environment:
      # Swapping needs to be disabled for performance and node stability
      - "bootstrap.memory_lock=true"
      - ES_JAVA_OPTS=-Xms${ES_JVM_SIZE} -Xmx${ES_JVM_SIZE}
    volumes:
      - /home/ubuntu/snowplow/elasticsearch/data:/usr/share/elasticsearch/data
      - /home/ubuntu/snowplow/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - /home/ubuntu/snowplow/elasticsearch/config/log4j2.properties:/usr/share/elasticsearch/config/log4j2.properties
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "elasticsearch"
    ports:
      - "9200:9200"
      - "9300:9300"

  kibana:
    image: docker.elastic.co/kibana/kibana-oss:6.8.20
    container_name: kibana
    restart: always
    volumes:
      - /home/ubuntu/snowplow/elasticsearch/config/kibana.yml:/usr/share/kibana/config/kibana.yml
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "kibana"

  elasticsearch-loader-good:
    image: snowplow/elasticsearch-loader:1.0.0
    container_name: elasticsearch-loader-good
    command: [ "--config", "/snowplow/config/snowplow-es-loader-good.hocon" ]
    restart: always
    depends_on:
      - elasticsearch
    volumes:
      - /home/ubuntu/snowplow/configs:/snowplow/config
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "elasticsearch-loader-good"
    environment:
      - "JAVA_OPTS=-Xmx${SP_JVM_SIZE}"

  elasticsearch-loader-bad:
    image: snowplow/elasticsearch-loader:1.0.0
    container_name: elasticsearch-loader-bad
    command: [ "--config", "/snowplow/config/snowplow-es-loader-bad.hocon" ]
    restart: always
    depends_on:
      - elasticsearch
    volumes:
      - /home/ubuntu/snowplow/configs:/snowplow/config
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "elasticsearch-loader-bad"
    environment:
      - "JAVA_OPTS=-Xmx${SP_JVM_SIZE}"

  nsqlookupd:
    image: nsqio/nsq:v1.2.1
    container_name: nsqlookupd
    command: /nsqlookupd --broadcast-address=nsqlookupd
    restart: always
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "nsqlookupd"
    ports:
      - "4160:4160"
      - "4161:4161"

  nsqd:
    image: nsqio/nsq:v1.2.1
    container_name: nsqd
    command: /nsqd --broadcast-address=nsqd --lookupd-tcp-address=nsqlookupd:4160 --data-path=/home/ubuntu/snowplow/nsq-data
    restart: always
    volumes:
      - /home/ubuntu/snowplow/nsq-data:/home/ubuntu/snowplow/nsq-data
    depends_on:
      - nsqlookupd
    ports:
      - "4150:4150"
      - "4151:4151"
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "nsqd"

  nsqadmin:
    image: nsqio/nsq:v1.2.1
    container_name: nsqadmin
    command: /nsqadmin --lookupd-http-address=nsqlookupd:4161 --base-path=/nsqadmin
    restart: always
    depends_on:
      - nsqlookupd
    ports:
      - "4171:4171"
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "nsqadmin"

  scala-stream-collector:
    image: snowplow/scala-stream-collector-nsq:2.4.2
    container_name: scala-stream-collector-nsq
    command: [ "--config", "/snowplow/config/snowplow-stream-collector.hocon" ]
    restart: always
    depends_on:
      - nsqd
    ports:
      - "8080:8080"
    volumes:
      - /home/ubuntu/snowplow/configs:/snowplow/config
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "scala-stream-collector"
    environment:
      - "JAVA_OPTS=-Xmx${SP_JVM_SIZE}"

  stream-enrich:
    image: snowplow/stream-enrich-nsq:2.0.3
    container_name: stream-enrich-nsq
    command: [
      "--config", "/snowplow/config/snowplow-stream-enrich.hocon",
      "--resolver", "file:/snowplow/config/iglu-resolver.json",
      "--enrichments", "file:/snowplow/config/enrichments",
      "--force-cached-files-download"
    ]
    restart: always
    depends_on:
      - scala-stream-collector
    volumes:
      - /home/ubuntu/snowplow/configs:/snowplow/config
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "stream-enrich"
    environment:
      - "JAVA_OPTS=-Xmx${SP_JVM_SIZE}"

  postgres:
    image: postgres:9.5
    container_name: postgres
    restart: always
    volumes:
      - /home/ubuntu/snowplow/init/iglu-server-init.sql:/docker-entrypoint-initdb.d/init.sql
      - /home/ubuntu/snowplow/pg-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "postgres"
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust

  iglu-server:
    image: snowplow/iglu-server:0.6.1
    container_name: iglu-server
    entrypoint: /snowplow/bin/wait-for-postgres.sh postgres --config /snowplow/config/iglu-server.conf
    restart: always
    depends_on:
      - postgres
    ports:
      - "8081:8081"
    volumes:
      - /home/ubuntu/snowplow/init/wait-for-postgres.sh:/snowplow/bin/wait-for-postgres.sh
      - /home/ubuntu/snowplow/configs:/snowplow/config
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "iglu-server"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.43.0
    container_name: cadvisor
    restart: always
    privileged: true
    entrypoint: ["/usr/bin/cadvisor", "-logtostderr", "-url_base_prefix=/metrics", "--docker_only"]
    environment:
      CADVISOR_HEALTHCHECK_URL: http://localhost:8080/metrics/healthz
    ports:
      - 8093:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    logging:
      driver: awslogs
      options:
        awslogs-group: "${AWS_LOGS_GROUP}"
        awslogs-stream: "cadvisor"
