[Unit]
Description=Snowplow Mini Control Plane API
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/snowplow
ExecStart=/home/ubuntu/snowplow/bin/snowplow-mini-control-plane-api -config=/home/ubuntu/snowplow/configs/control-plane-api.toml
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
