[Unit]
Description=Snowplow Mini Docker Services
Requires=docker.service cloud-final.service
After=network-online.target docker.service cloud-final.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/ubuntu/snowplow
ExecStartPre=/usr/bin/docker compose down
ExecStart=/usr/bin/docker compose up --remove-orphans --detach
ExecStop=/usr/bin/docker compose down

Restart=on-failure
RestartSec=10s

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
