---
- name: Update apt cache
  apt: update-cache=yes cache_valid_time=86400
  become: yes

- name: install basic packages
  become: yes
  apt: pkg={{ item }} state=latest
  tags: [packages]
  with_items:
    - curl
    - unzip
    - resolvconf

- name: Add Google DNS nameserver
  lineinfile:
    dest="/etc/resolvconf/resolv.conf.d/head"
    line="nameserver 8.8.8.8"
  become: yes

- name: Restart resolveconf service
  become: yes
  shell: service resolvconf restart
