{
    grace_period 0.1s
}

:80 {
    @protectedPaths {
        path /home* /elasticsearch* /kibana* /nsqadmin* /control-plane* /metrics*
        not path /kibana/ui/favicons/* /kibana/built_assets/* /kibana/bundles/*
    }   

    basicauth @protectedPaths  {
        USERNAME_PLACEHOLDER JDJhJDA0JFRYSENkLi4vamh0cm1UcHhKWTZEaGVEWm1OMzk4SVZ0ZTVONVVLUzQ5Q3MvYjE0eUF4bEJL
    }

    request_header -Authorization

    reverse_proxy localhost:8080

    route /home* {
        uri strip_prefix /home
        root * /home/ubuntu/snowplow/ui
        file_server
    }

    route /elasticsearch* {
        uri strip_prefix /elasticsearch
        reverse_proxy localhost:9200
    }

    route /kibana* {
        uri strip_prefix /kibana
        reverse_proxy localhost:5601
    }

    route /iglu-server* {
        uri strip_prefix /iglu-server
        reverse_proxy localhost:8081
    }

    route /nsqadmin* {
        reverse_proxy localhost:4171
    }

    route /control-plane* {
        uri strip_prefix /control-plane
        reverse_proxy localhost:10000
    }

    route /metrics* {
        uri strip_prefix /metrics
        reverse_proxy localhost:8093
    }
}
