*:80 {
  tls off
  basicauth "USERNAME_PLACEHOLDER" PASSWORD_PLACEHOLDER {
    /home
    /kibana
    /elasticsearch
    /static
    /api/counter
    /api/nodes
    /api/topics
    /nsqadmin
    /control-plane
    /metrics
  }
  redir /home /home/
  redir /iglu-server /iglu-server/
  redir /kibana /kibana/
  redir /nsqadmin /nsqadmin/
  redir /elasticsearch /elasticsearch/
  redir /metrics /metrics/

  proxy / localhost:8080 {
    header_upstream -Authorization
  }

  proxy /home localhost:3000 {
    without /home
  }

  proxy /kibana localhost:5601 {
    without /kibana
  }

  proxy /iglu-server localhost:8081 {
    without /iglu-server
  }

  proxy /nsqadmin localhost:4171 {
    without /nsqadmin
  }
  proxy /static localhost:4171
  proxy /api/counter localhost:4171
  proxy /api/nodes localhost:4171
  proxy /api/topics localhost:4171

  proxy /elasticsearch localhost:9200 {
    without /elasticsearch
  }

  proxy /control-plane localhost:10000 {
    without /control-plane
  }

  proxy /metrics localhost:8093
}

*:3000 {
  root /home/ubuntu/snowplow/ui
}
