version_file_path = "/home/ubuntu/snowplow/VERSION"

# for getting IP address of the running EC2 instance
# for more information visit:
# http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html
EC2_meta_service_url = "http://169.254.169.254/latest/meta-data/public-ipv4"

[directories]
enrichments = "/home/ubuntu/snowplow/configs/enrichments" #directory which all the enrichments file are in
config = "/home/ubuntu/snowplow/configs" #directory which all the configs are in

[config_file_names]
caddy = "Caddyfile"
iglu_resolver = "iglu-resolver.json"
iglu_server = "iglu-server.conf"
collector = "snowplow-stream-collector.hocon"

[init_scripts]
stream_collector = "scala-stream-collector"
stream_enrich = "stream-enrich"
es_loader_good = "elasticsearch-loader-good"
es_loader_bad = "elasticsearch-loader-bad"
iglu = "iglu-server"

[PSQL]
user = "snowplow"
password = "snowplow"
database = "iglu"
address = "127.0.0.1:5433"
