{
  "license": {
    "accept": true
  }
  
  "input": {
    "topic": "RawEvents"
    "channel": "RawEventsChannel"
    "lookupHost": "nsqlookupd"
    "lookupPort": 4161
  }

  "output": {
    "good": {
      "topic": "EnrichedEvents"
      "nsqdHost": "nsqd"
      "nsqdPort": 4150
    }

    "bad": {
      "topic": "BadEnrichedEvents"
      "nsqdHost": "nsqd"
      "nsqdPort": 4150
    }
  }
  "featureFlags": {
    "exitOnJsCompileError": false
  }
}
