# This file (application.conf.example) contains a template with
# configuration options for Stream Enrich.

enrich {

  streams {

    in {
      raw = RawEvents
    }

    out {
      enriched = EnrichedEvents
      bad = BadEnrichedEvents
      pii = PiiEvents
      partitionKey = ""
    }

    sourceSink {
      enabled = nsq
      aws {
        accessKey = iam
        secretKey = iam
      }
      gcp {
        creds = "/snowplow/config/.gcp/mini_enrichment_service_account.json"
      }
      rawChannel = StreamEnrichChannel
      host = nsqd
      port = 4150
      lookupHost = nsqlookupd
      lookupPort = 4161
    }

    buffer {
      byteLimit = 4500000
      recordLimit = 500
      timeLimit = 5000
    }

    appName = "snowplow-stream-enrich"
  }
}
