# Copyright (c) 2013-present Snowplow Analytics Ltd. All rights reserved.
#
# This software is made available by Snowplow Analytics, Ltd.,
# under the terms of the Snowplow Limited Use License Agreement, Version 1.1
# located at https://docs.snowplow.io/limited-use-license-1.1
# BY INSTALLING, DOWNLOADING, ACCESSING, USING OR DISTRIBUTING ANY PORTION
# OF THE SOFTWARE, YOU AGREE TO THE TERMS OF SUCH LICENSE AGREEMENT.

# 'collector' contains configuration options for the main Scala collector.
collector {
  license {
    accept = true
  }
  interface = "0.0.0.0"
  port = 8080

  paths {}

  p3p {
    policyRef = "/w3c/p3p.xml"
    CP = "NOI DSP COR NID PSA OUR IND COM NAV STA"
  }

  crossDomain {
    enabled = false
    domains = ["*"]
    secure = true
  }

  cookie {
    enabled = true
    expiration = "365 days" # e.g. "365 days"
    name = sp
    secure = true
    sameSite = "None"
    httpOnly = false
  }

  cookieBounce {
    enabled = false
    name = "n3pc"
    fallbackNetworkUserId = "00000000-0000-4000-A000-000000000000"
  }

  doNotTrackCookie {
    enabled = false
  }

  rootResponse {
    enabled = true
    statusCode = 302
    headers = {
        Location = "/home",
    }
    body = "302, redirecting"
  }

  enableDefaultRedirect = false

  redirectMacro {
    enabled = false
    placeholder = "[TOKEN]"
  }

  cors {
    accessControlMaxAge = 10 seconds
  }

  prometheusMetrics.enabled = false

  streams {
    good = RawEvents
    bad = BadRawEvents
    useIpAddressAsPartitionKey = false

    sink {
      enabled = nsq
      host = nsqd
      port = 4150
    }

    buffer {
      byteLimit = 4000000
      recordLimit = 500 # Not supported by Kafka; will be ignored
      timeLimit = 5000
    }
  }

  telemetry {
      disable = false
      interval = 60 minutes
      method = POST
      url = collector-g.snowplowanalytics.com
      port = 443
      secure = true
   }
   preTerminationPeriod = 0 seconds
}
